<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
            <br/><br/>
<h4>CST438 Software Engineering</h4><br/>
            <strong>Disclaimer: </strong><i>The information in this website is for educational purposes only.</i>
            
           <figure>
                <a href="https://csumb.edu/" target="_blank"><img src="/img/csumb.png" alt="CSUMB Logo"/></a>
           </figure>
            
            <br/><br/>
            
    </div>
</div>
