<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	
    <footer th:fragment="footer">
    	<div class="row">
    	<div class="w-50 mx-auto">        
        <hr>
        <a href="https://csumb.edu/" target="_blank"><img src="/img/csumb.png" width="150" height="100" alt="CSUMB Logo"/></a><br/>
        <div><i><strong>&copy; 2020 Brogrammers</strong></i> | CST438 Software Engineering </div>
        <strong>Disclaimer: </strong><i>The information in this website is for educational purposes only.</i>
        <hr><br/>
         </div>
    	</div>
    </footer>
   
     
</body>
</html>
