<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Flights</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
	<body>
	<div class="row">
   	<div class="w-50 mx-auto">
	
		<div class="container">
			<br><br>
			<form action="#" th:action="@{/reservationConfirmation}" method="post">
				<h3>Departure Flights</h3>
				<h4 th:inline="text"><strong>DATE:</strong> [[${departureFlights[0].flight.date}]]
				  <strong>FROM:</strong> [[${departureFlights[0].flight.departureAirport}]]
				  <strong>TO:</strong> [[${departureFlights[0].flight.arrivalAirport}]]</h4><hr>
				  <div><input type="submit" class="btn btn-success" value="Submit"></div>
				<a th:inline="text">[[${departNotFound}]]</a>
				<br/>
				<table class="table">
					<tr>
						<th>Flight #</th>
						<th>Airline</th>
						<th>Departure Time</th>
						<th>Arrival Time</th>
						<th>Seats Available</th>
						<th>Seat Type</th>
						<th>Cost</th>
						<th>Selection</th>
					</tr>
					<tr th:each="departureFlight : ${departureFlights}">
					    <td th:text="${departureFlight.flight.flightNumber}"></td>
						<td th:text="${departureFlight.flight.airline}"></td>
						<td th:text="${departureFlight.flight.departureTime}"></td>
						<td th:text="${departureFlight.flight.arrivalTime}"></td>
						<td th:text="${departureFlight.seatInfo.seatsAvailable}"></td>
						<td th:text="${departureFlight.seatInfo.seatType}"></td>
						<td th:text="${departureFlight.seatInfo.cost}"></td>
						<td> <input type="radio" name="departureFlight" th:value="${departureFlight.seatInfo.Id}"> </td>
					</tr>
				</table>
				<br />
				<h3 th:inline="text">Return Flights</h3>
				<h4 th:inline="text"><strong>DATE:</strong> [[${returnFlights[0].flight.date}]]
				  <strong>FROM:</strong> [[${returnFlights[0].flight.departureAirport}]]
				  <strong>TO:</strong> [[${returnFlights[0].flight.arrivalAirport}]]</h4>
				<a th:inline="text">[[${returnNotFound}]]</a>
				<br/>
				<table class="table">
					<tr>
						<th>Flight #</th>
						<th>Airline</th>
						<th>Departure Time</th>
						<th>Arrival Time</th>
						<th>Seats Available</th>
						<th>Seat Type</th>
						<th>Cost</th>
						<th>Selection</th>
					</tr>
					<tr th:each="returnFlight : ${returnFlights}">
					    <td th:text="${returnFlight.flight.flightNumber}"></td>
						<td th:text="${returnFlight.flight.airline}"></td>
						<td th:text="${returnFlight.flight.departureTime}"></td>
						<td th:text="${returnFlight.flight.arrivalTime}"></td>
						<td th:text="${returnFlight.seatInfo.seatsAvailable}"></td>
						<td th:text="${returnFlight.seatInfo.seatType}"></td>
						<td th:text="${returnFlight.seatInfo.cost}"></td>
						<td> <input type="radio" name="returnFlight" th:value="${returnFlight.seatInfo.Id}"> </td>
					</tr>
				</table>
				<div><input type="submit" class="btn btn-success" value="Submit"></div>
				<!-- User Entity passes here -->
				<div th:object="${user}">
				<input type="hidden" th:field="*{id}">
					<input type="hidden" th:field="*{email}">
					<input type="hidden" th:field="*{last_name}">
					<input type="hidden" th:field="*{first_name}">
					<input type="hidden" th:field="*{create_date}">
				</div>
			</form><br/>
			<div><a class="btn btn-outline-dark" th:href="@{/}">Log out</a>
					<form action="#" th:object="${user}"  th:action="@{/userDirectory}" method="post">
						<br/><input type="hidden" th:field="*{email}">
						<input type="submit" class="btn btn-outline-primary" value="Back to Main Page" />
					</form>
			</div>
		</div>
		</div></div>
		<div th:insert="fragments/footer :: footer"></div>
	</body>
</html>