<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Flights</title>
    <style>
		table {
		  border-collapse: collapse;
		  width: 100%;
		}
		
		th, td {
		  text-align: left;
		  padding: 8px;
		}
		
		tr:nth-child(even) {background-color: #f2f2f2;}
	</style>
</head>
<body>
	<h3 th:inline="text">Flights Leaving [[${departDate}]]</h3>
	<a th:inline="text">[[${departNotFound}]]</a>
	<table>
		<tr>
			<th>Flight #</th>
			<th>Airline</th>
			<th>Departing City</th>
			<th>Arrival City</th>
			<th>Departure Time</th>
			<th>Arrival Time</th>
			<th>Seats Available</th>
			<th>Seat Type</th>
			<th>Cost</th>
		</tr>
		<tr th:each="departureFlight : ${departureFlights}">
		    <td th:text="${departureFlight.flight.flightNumber}"></td>
			<td th:text="${departureFlight.flight.airline}"></td>
			<td th:text="${departureFlight.flight.departureAirport}"></td>
			<td th:text="${departureFlight.flight.arrivalAirport}"></td>
			<td th:text="${departureFlight.flight.departureTime}"></td>
			<td th:text="${departureFlight.flight.arrivalTime}"></td>
			<td th:text="${departureFlight.seatInfo.seatsAvailable}"></td>
			<td th:text="${departureFlight.seatInfo.seatType}"></td>
			<td th:text="${departureFlight.seatInfo.cost}"></td>
		</tr>
	</table>
	<br />
	<h3 th:inline="text">Flights Returning [[${returnDate}]]</h3>
	<a th:inline="text">[[${returnNotFound}]]</a>
	<table>
		<tr>
			<th>Flight #</th>
			<th>Airline</th>
			<th>Departing City</th>
			<th>Arrival City</th>
			<th>Departure Time</th>
			<th>Arrival Time</th>
			<th>Seats Available</th>
			<th>Seat Type</th>
			<th>Cost</th>
		</tr>
		<tr th:each="returnFlight : ${returnFlights}">
		    <td th:text="${returnFlight.flight.flightNumber}"></td>
			<td th:text="${returnFlight.flight.airline}"></td>
			<td th:text="${returnFlight.flight.departureAirport}"></td>
			<td th:text="${returnFlight.flight.arrivalAirport}"></td>
			<td th:text="${returnFlight.flight.departureTime}"></td>
			<td th:text="${returnFlight.flight.arrivalTime}"></td>
			<td th:text="${returnFlight.seatInfo.seatsAvailable}"></td>
			<td th:text="${returnFlight.seatInfo.seatType}"></td>
			<td th:text="${returnFlight.seatInfo.cost}"></td>
		</tr>
	</table>
</body>
</html>