<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Flight Reservation System</title>
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
	<body>
		<div class="container">
			<h1>The Flight Reservation System&#8482;</h1>
			<br/>
			<div th:each="user : ${user}">	
				<h2>More than 5 reservations have been detected for  <span th:text="${user.email}"></span> </h2>
				<h3><i>Please remove excess entries from the database.</i> </h3>
			</div>
			<br/><hr>
			<a th:href="@{/}">Back to Main Page</a>
		</div>	
	</body>
</html>
