<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Flight Reservation System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
	<body>
	<div class="row">
    	<div class="w-50 mx-auto">
	<div class="container">
		<br><br><h1>Welcome to <br> The Flight Reservation System&#8482;</h1>
		<h3><i>Please either login with existing account or create a new account</i></h3>
		<hr><br/>
		<h4>Log In</h4>
			<form th:action="@{userDirectory}" th:object="${user}" method="POST">
				<label>Email:</label><br>
				<input type="email" th:field="*{email}"><br><br>
				<input class="btn btn-outline-primary" type="submit" value="Login"/>
			</form>
		<hr>
		<h4>Create New Account</h4>	
			<form th:action="@{newUser}" th:object="${user}" method="POST">
				<label>First Name:</label><br>
				<input type="text" th:field="*{first_name}"><br>
				<label>Last Name:</label><br>
				<input type="text" th:field="*{last_name}"><br>
				<label>Email:</label><br>
				<input type="email" th:field="*{email}"><br><br>
				<input class="btn btn-outline-success" type="submit" value="Create">
			</form>
				
	</div>
	</div></div>
	<div th:insert="fragments/footer :: footer"></div>
	
	</body>
</html>