<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Flight Reservation System</title>
</head>
<body>
	<h1>The Flight Reservation System&#8482;</h1>
	
	<a th:inline="text">[[${error}]]</a>
	<!-- userInfo object contains a user and their info from User Entity -->
	<div th:each="user : ${user}">
	<h2>Welcome <span th:text="${user.first_name}"></span> <span th:text="${user.last_name}"></span></h2>
	ID: <span th:text="${user.id}"></span><br>
	Email: <span th:text="${user.email}"></span><br>

	<hr>
	<form action="#" th:action="@{/reservation}" th:object="${user}" method="POST">
			<input type="hidden" th:field="*{id}">
			<input type="hidden" th:field="*{email}">
			<input type="hidden" th:field="*{last_name}">
			<input type="hidden" th:field="*{first_name}">
			<input type="hidden" th:field="*{create_date}">
			<input type="submit" value="Make a Reservation">
	</form>

	<hr>

	</body>
</html>