<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Flight Reservation System</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
	<body>
		<div class="container">
			<h1>The Flight Reservation System&#8482;</h1>
				<div th:each="bookingInfo : ${bookingInfo}">	
					<h2>Sorry, no Reservation with that BookingID was found.</h2>
				</div>
			<div><a class="btn btn-default" th:href="@{/}">Log out</a>
			<form action="#" th:object="${user}"  th:action="@{/userDirectory}" method="post">
				<input type="hidden" th:field="*{email}">
				<input type="submit" class="btn btn-default" value="Back to Main Page" />
			</form>
		</div>	
		</div>		
	</body>
</html>
