<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" >
<head>
    <title>Flights</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
        
        <div th:each="user : ${user}">	
		<h3>View or Cancel Reservations for <span th:text="${user.first_name}"></span> <span th:text="${user.last_name}"></span></h3>
			 <strong><span th:text="${user.email}"></span></strong>
		</div>
		<br/>
		<div class="row">
            <table class="table">
                <thead>
                    <tr>
                        
                        <th>Flight #</th>
                        <th>Airline</th>
                        <th>Departure Time</th>
                        <th>Departure City</th>
                    </tr>
                </thead>
                <tbody>
                	
                    <tr th:each="flightInfo0 : ${flightInfo0}">
					
						<td th:text="${flightInfo0.flight.flightNumber}"></td>
		    			<td th:text="${flightInfo0.flight.airline}"></td>
		    			<td th:text="${flightInfo0.flight.date}"></td>
		    			<td th:text="${flightInfo0.flight.departureAirport}"></td>
		    			<td>
		    			<form action="#" th:object="${book0}" th:action="@{/viewReservation}" method="post">
		   					<input type="hidden" th:field="*{bookId}">
							<input type="hidden" th:field="*{userEmail}">
							<input type="hidden" th:field="*{departureFlightSeatInfoId}">
							<input type="hidden" th:field="*{returnFlightSeatInfoId}">
							<input type="hidden" th:field="*{isCancelled}">
		   					<input type="submit" class="btn btn-info" value="Reservation Details" />
		   				</form>
		   				</td>
                   	</tr>
                   	
                   	<tr th:each="flightInfo1 : ${flightInfo1}">
					
						<td th:text="${flightInfo1.flight.flightNumber}"></td>
		    			<td th:text="${flightInfo1.flight.airline}"></td>
		    			<td th:text="${flightInfo1.flight.date}"></td>
		    			<td th:text="${flightInfo1.flight.departureAirport}"></td>
		   				<td>
		   				<form action="#" th:object="${book1}" th:action="@{/viewReservation}" method="post">
		   					<input type="hidden" th:field="*{bookId}">
							<input type="hidden" th:field="*{userEmail}">
							<input type="hidden" th:field="*{departureFlightSeatInfoId}">
							<input type="hidden" th:field="*{returnFlightSeatInfoId}">
							<input type="hidden" th:field="*{isCancelled}">
		   					<input type="submit" class="btn btn-info" value="Reservation Details" />
		   				</form>
		   				</td>
                   	</tr>
                    
                   	<tr th:each="flightInfo2 : ${flightInfo2}">
					
						<td th:text="${flightInfo2.flight.flightNumber}"></td>
		    			<td th:text="${flightInfo2.flight.airline}"></td>
		    			<td th:text="${flightInfo2.flight.date}"></td>
		    			<td th:text="${flightInfo2.flight.departureAirport}"></td>
		    			<td>
		   				<form action="#" th:object="${book2}" th:action="@{/viewReservation}" method="post">
		   					<input type="hidden" th:field="*{bookId}">
							<input type="hidden" th:field="*{userEmail}">
							<input type="hidden" th:field="*{departureFlightSeatInfoId}">
							<input type="hidden" th:field="*{returnFlightSeatInfoId}">
							<input type="hidden" th:field="*{isCancelled}">
		   					<input type="submit" class="btn btn-info" value="Reservation Details" />
		   				</form>
		   				</td>
                   	</tr>
                   	
                   	<tr th:each="flightInfo3 : ${flightInfo3}">
					
						<td th:text="${flightInfo3.flight.flightNumber}"></td>
		    			<td th:text="${flightInfo3.flight.airline}"></td>
		    			<td th:text="${flightInfo3.flight.date}"></td>
		    			<td th:text="${flightInfo3.flight.departureAirport}"></td>
		   				<td>
		   				<form action="#" th:object="${book3}" th:action="@{/viewReservation}" method="post">
		   					<input type="hidden" th:field="*{bookId}">
							<input type="hidden" th:field="*{userEmail}">
							<input type="hidden" th:field="*{departureFlightSeatInfoId}">
							<input type="hidden" th:field="*{returnFlightSeatInfoId}">
							<input type="hidden" th:field="*{isCancelled}">
		   					<input type="submit" class="btn btn-info" value="Reservation Details" />
		   				</form>
		   				</td>
                   	</tr>
                   	
                   	<tr th:each="flightInfo4 : ${flightInfo4}">
					
						<td th:text="${flightInfo4.flight.flightNumber}"></td>
		    			<td th:text="${flightInfo4.flight.airline}"></td>
		    			<td th:text="${flightInfo4.flight.date}"></td>
		    			<td th:text="${flightInfo4.flight.departureAirport}"></td>
		   				<td>
		   				<form action="#" th:object="${book4}" th:action="@{/viewReservation}" method="post">
		   					<input type="hidden" th:field="*{bookId}">
							<input type="hidden" th:field="*{userEmail}">
							<input type="hidden" th:field="*{departureFlightSeatInfoId}">
							<input type="hidden" th:field="*{returnFlightSeatInfoId}">
							<input type="hidden" th:field="*{isCancelled}">
		   					<input type="submit"class="btn btn-info" value="Reservation Details" />
		   				</form>
		   				</td>
                   	</tr>                  
                </tbody>
            </table>
            <br />
            
            <form action="#" th:object="${user}"  th:action="@{/cancelledListing}" method="post">
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{email}">
				<input type="hidden" th:field="*{last_name}">
				<input type="hidden" th:field="*{first_name}">
				<input type="hidden" th:field="*{create_date}">
				<input type="submit" class="btn btn-warning" value="View Cancelled Reservations">
			</form>

			<br/><hr>
				<div><a class="btn btn-default" th:href="@{/}">Log out</a>
					<form action="#" th:object="${user}"  th:action="@{/userDirectory}" method="post">
						<input type="hidden" th:field="*{email}">
						<input type="submit" class="btn btn-default" value="Back to Main Page" />
					</form>
				</div>
        	</div>
		</div>
	</body>
</html>