<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" >
<head>
    <title>Flights</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
        
        <div>	
		<h3>View or Cancel Reservations for <span th:text="${user.first_name}"></span> <span th:text="${user.last_name}"></span></h3>
			 <strong><span th:text="${user.email}"></span></strong>
		</div>
		<br/>
		<div class="row">
            <table class="table">
                <thead>
                    <tr>   
                        <th>Departure</th>
                        <th>Return</th>
                        <th>Departure City</th>   
                        <th>Destination City</th>          
                        <th>Departure Airline</th>                
                        <th>Return Airline</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="departureFlight, iterator : ${departureFlights}">
					
						<td th:text="${departureFlight.flight.date}"></td>
		    			<td th:text="${arrivalFlights[iterator.index].flight.date}"></td>
						<td th:text="${departureFlight.flight.departureAirport}"></td>
						<td th:text="${departureFlight.flight.arrivalAirport}"></td>
						<td th:text="${departureFlight.flight.airline}"></td>
						<td th:text="${arrivalFlights[iterator.index].flight.airline}"></td>  			
 		    			<td>
		    				<form action="#" th:action="@{/viewReservation}" method="post">
		    					<input type="hidden" name="bookingId" th:value="${bookingInfo[iterator.index].bookId}" />
		   						<input type="submit" class="btn btn-info" value="Reservation Details" />
		   					</form>
		   				</td>
                   	</tr>  
                </tbody>
            </table>
            <br />
            
            <form action="#" th:object="${user}"  th:action="@{/cancelledListing}" method="post">
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{email}">
				<input type="hidden" th:field="*{last_name}">
				<input type="hidden" th:field="*{first_name}">
				<input type="hidden" th:field="*{create_date}">
				<input type="submit" class="btn btn-warning" value="View Cancelled Reservations">
			</form>
			
				
        	</div>
        	<br><hr>
        	<div><a class="btn btn-default" th:href="@{/}">Log out</a>
					<form action="#" th:object="${user}"  th:action="@{/userDirectory}" method="post">
						<input type="hidden" th:field="*{email}">
						<input type="submit" class="btn btn-default" value="Back to Main Page" />
					</form>
				</div>
		</div>
	</body>
</html>