<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Flight Reservation System</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
	<body>
	<div class="row">
   	<div class="w-50 mx-auto">
	
		<div class="container">
			<br><br><h1>The Flight Reservation System&#8482;</h1>
			
			<div>	
				<h2>Reservation Details for <span th:text="${user.first_name}"></span> <span th:text="${user.last_name}"></span></h2>
					Email: <span th:text="${user.email}"></span>
			</div>
			<br/>
			<h2>Departure Flight:</h2><br>
			<div class="row">
				<div>
					<table class="table">
						<tr>
							<th>Flight #</th>
							<th>Airline</th>
							<th>Depart</th>
							<th>Time</th>
							<th>Arrive</th>
							<th>Time</th>
							<th>Seat Type</th>
							<th>Cost</th>
						</tr>
						<tr>
						    <td th:inline="text">[[${departureFlight.flight.flightNumber}]]</td>
				   			<td th:inline="text">[[${departureFlight.flight.airline}]]</td>
				   			<td th:inline="text">[[${departureFlight.flight.departureAirport}]]</td>
				    		<td th:inline="text">[[${departureFlight.flight.departureTime}]]</td>
				    		<td th:inline="text">[[${departureFlight.flight.arrivalAirport}]]</td>
				   	 		<td th:inline="text">[[${departureFlight.flight.arrivalTime}]]</td>				    		
				    		<td th:inline="text">[[${departureFlight.seatInfo.seatType}]]</td>    
				    		<td th:inline="text">$[[${departureFlight.seatInfo.cost}]]</td>
						</tr>
					</table>
				</div>
			</div>
						
			<h2>Return Flight:</h2><br>
			<div class="row">
				<div>
					<table class="table">
						<tr>
							<th>Flight #</th>
							<th>Airline</th>
							<th>Depart</th>
							<th>Time</th>
							<th>Arrive</th>
							<th>Time</th>
							<th>Seat Type</th>
							<th>Cost</th>
						</tr>
						<tr>
						    <td th:inline="text">[[${returnFlight.flight.flightNumber}]]</td>
				   	 		<td th:inline="text">[[${returnFlight.flight.airline}]]</td>
				    		<td th:inline="text">[[${returnFlight.flight.departureAirport}]]</td>
				    		<td th:inline="text">[[${returnFlight.flight.departureTime}]]</td>
				    		<td th:inline="text">[[${returnFlight.flight.arrivalAirport}]]</td>
				    		<td th:inline="text">[[${returnFlight.flight.arrivalTime}]]</td>				    		
				    		<td th:inline="text">[[${returnFlight.seatInfo.seatType}]]</td>    
				    		<td th:inline="text">$[[${returnFlight.seatInfo.cost}]]</td>
						</tr>
					</table>
				</div>
			</div>
			<br/>
				<form action="#" th:object="${bookingInfo}"  th:action="@{/reservationCancellation}" method="post">
					<input type="hidden" th:field="*{bookId}">
					<input type="hidden" th:field="*{userEmail}">
					<input type="hidden" th:field="*{departureFlightSeatInfoId}">
					<input type="hidden" th:field="*{returnFlightSeatInfoId}">
					<input type="hidden" th:field="*{isCancelled}">
					
				   	<input type="submit" class="btn btn-danger" value="Cancel Reservation" />
				</form>
			
			<br/><hr>
					<div><a class="btn btn-outline-dark" th:href="@{/}">Log out</a>
					<form action="#" th:object="${user}"  th:action="@{/userDirectory}" method="post">
						<br/><input type="hidden" th:field="*{email}">
						<input type="submit" class="btn btn-outline-primary" value="Back to Main Page" />
					</form>
			</div>
		</div>
		</div></div>
		<div th:insert="fragments/footer :: footer"></div>
	</body>
</html>
