<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Flight Reservation System</title>
     <style>
		table {
		  border-collapse: collapse;
		  width: 100%;
		}
		
		th, td {
		  text-align: left;
		  padding: 8px;
		}
		
		tr:nth-child(even) {background-color: #f2f2f2;}
	</style>
</head>
<body>
	<h1>The Flight Reservation System&#8482;</h1>
	<div th:each="bookingInfo : ${bookingInfo}">	
		<h2>BookingID:  <span th:text="${bookingInfo.bookId}"></span> <span th:text="${user.last_name}"></span></h2>
	</div>
	
	<div th:each="user : ${user}">	
		<h2>Reservations for <span th:text="${user.first_name}"></span> <span th:text="${user.last_name}"></span></h2>
			<span th:text="${user.email}"></span>
	</div>
	
	<hr>
	
	<h2>Departure Flight:</h2><br>
	<div th:each="departureFlight: ${departureFlight}">
	<table>
		<tr>
			<th>Flight #</th>
			<th>Airline</th>
			<th>Departure Time</th>
			<th>Arrival Time</th>
			<th>Seats Available</th>
			<th>Seat Type</th>
			<th>Cost</th>
			<th>Selection</th>
		</tr>
		<tr th:each="departureFlight : ${departureFlight}">
		    <td th:text="${departureFlight.flight.flightNumber}"></td>
			<td th:text="${departureFlight.flight.airline}"></td>
			<td th:text="${departureFlight.flight.departureTime}"></td>
			<td th:text="${departureFlight.flight.arrivalTime}"></td>
			<td th:text="${departureFlight.seatInfo.seatsAvailable}"></td>
			<td th:text="${departureFlight.seatInfo.seatType}"></td>
			<td th:text="${departureFlight.seatInfo.cost}"></td>
			<td>
			</td>
		</tr>
	</table>
	
	
	
	</div>
	<hr>
	<h2>Return Flight:</h2><br>
	<div th:each="returnFlight: ${returnFlight}">
	<table>
		<tr>
			<th>Flight #</th>
			<th>Airline</th>
			<th>Departure Time</th>
			<th>Arrival Time</th>
			<th>Seats Available</th>
			<th>Seat Type</th>
			<th>Cost</th>
			<th>Selection</th>
		</tr>
		<tr th:each="returnFlight : ${returnFlight}">
		    <td th:text="${returnFlight.flight.flightNumber}"></td>
			<td th:text="${returnFlight.flight.airline}"></td>
			<td th:text="${returnFlight.flight.departureTime}"></td>
			<td th:text="${returnFlight.flight.arrivalTime}"></td>
			<td th:text="${returnFlight.seatInfo.seatsAvailable}"></td>
			<td th:text="${returnFlight.seatInfo.seatType}"></td>
			<td th:text="${returnFlight.seatInfo.cost}"></td>
			<td> 
			</td>
		</tr>
	</table>
		
	</div>
	
	
	</body>
</html>